@font-face {
    font-family: 'corsivofaigouno';
    src: url('../resources/fonts/cogncur.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dalek';
    src: url('../resources/fonts/DALEK__.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'playfair';
    src: url('../resources/fonts/PlayfairDisplay-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('../resources/images/maze_background.svg');
    background-repeat: repeat;
    background-size: 100vh;
    overflow: hidden;
    user-select: none;
}

.redBg {
    background-color: red;
}

.full-height {
    height: 100vh;
}

.leftCard {
    background-color: black;
}
.rightCard {
    background-color: white;
}
.bottom {
    bottom: 0vh;
}

/*
.fade {
    transition: opacity 2.5s ease-in-out, transform 2.5s ease-in-out;
}
*/
/* Symbol */
/*
.topSymbol {
    top: 2vh;
    right: 20.5vw;
}
*/

.fade-out {
    opacity: 0;
}

.bottomSymbol img {
    transform: scaleY(-1) scaleX(-1);
}

.symbol img:hover {
    transform: scaleY(-1) scaleX(-1) rotate(360deg);
}

.symbol img {
    /*transform: scaleY(-1) scaleX(-1);*/
    height: 4vh;
    transition: transform 1.5s ease;
    opacity: 1;
}

.card-container {
    flex: 1;
    margin: 1%;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 95vh;
}

/* --- Dedalo cat --- */
#dedalo_cat {
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: transform 5s ease, clip-path 0.5s ease-in-out;
}
#dedalo_cat img {
    transition: opacity 1s ease-in-out;
    height: 70vh;
    max-width: 100%;
    max-height: 100%;
}

/* --- logo Mauro --- */
.logo:hover {
    transform: scale(1.2);
}

.logo {
    top: 4rem;
    left: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}
.logo img {
    max-width: 3vw;
    height: auto;
}
.logo span {
    font-size: 2.2vw;
    color: white;
    margin: 0;
    font-weight: lighter;
    white-space: nowrap;
    font-family: 'playfair';
}



/* --- Menu gatti --- */
.menu {
    display: flex;
    flex-direction: column;
    gap: calc(2vh + 0.2vw);
    bottom: 4rem;
    left: 2vw;
    align-items: center;
    justify-content: center;
    /*width: 5vw;*/
    cursor: pointer;
}

#biografia-menu {
    max-width: 60%;
    font-size: 2rem;
    margin-left: calc(0.4vh + 0.3vw);
}

.menu-item {
    display: flex;
    align-items: center;
    gap: calc(0.2vh + 1vw);
    /*
    max-width: 70%;
    */
    
    /*
    max-width: calc(9vh + 2vw);
    */
    max-width: 10vh;
    padding: 1rem;
    font-size: 1.5rem;
    transition: all 0.1s ease;
}

.menu-text {
    font-family: 'dalek';
    font-size: 1.2rem;
    color: white;
    visibility: hidden;
}
.menu img {
    max-width: 7rem;
    transition: transform 0.3s ease;
}
.menu img:hover {
    transform: scale(1.2);
}
.menu img:hover + .menu-text {
    visibility: visible;
}

.cat {
    z-index: -1;
    position: absolute;
    width: 50px;
    height: auto;
    transition: transform 6s ease;
}

/* --- Content --- */
.content {
    user-select: text;
    position: relative;
    font-family: 'playfair';

    width: 96%;
    left: 2%;
    height: 90%;
    top: 5%;


    align-items: center;

    overflow-y: hidden;
    overflow-x: hidden;
}

#biografia-content {
    /*
    max-width: calc(52vh + 2vw);
    */
    max-width: calc(5vh + 20vw);
    margin-left: calc(5vh + 10vw);
    font-size: calc(0.5vh + 0.5vw);
}